{% extends 'base.html.twig' %}

{% block title %}Tout les produits{% endblock %}

{% block body %}
    <div class="container-fluid" id="products">
        <div class="row mt-5">
            <div class="col-md-3">
                {% include 'public/product/_filter.html.twig' with {form: form} only %}
            </div>
            <div class="col-md-9">
                <div class="grid">
                    {% for product in products %}
                        {% include 'public/product/_card.html.twig' with {product: product} only %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        window.location.hash = '#products';
    </script>
{% endblock %}

