{% extends 'admin/base.html.twig' %}

{% block title %}New Country{% endblock %}

{% block body %}
    <h1 class="btn btn-success"><i class="fa fa-plus"></i> Country</h1>

    {{ include('admin/country/_form.html.twig') }}

    <a href="{{ path('admin_country_index') }}" class="btn btn-primary text-white"><i class="fa fa-arrow-left"></i></a>
{% endblock %}
