{% extends 'base.html.twig' %}

{% block title %}Hello ProviderController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="h-50">
            <ul>
                {% for category in categories %}
                    <li>
                        {{ category.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
