<form method="post" action="{{ path('admin_address_delete', {'id': address.id}) }}" onsubmit="return confirm('Voulez-vous réelement supprimer cet element ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.id) }}">
    <button class="btn btn-danger text-white mt-2"><i class="fa fa-times"></i></button>
</form>
