@import url(~bootstrap);
@import url(~font-awesome);
@import url(~datatables.net-bs5/css/dataTables.bootstrap5.min.css);

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  30% {
    opacity: 0;
    transform: scale(1.5) translateX(-100px);
  }
  35% {
    opacity: 1;
    transform: scale(1)
  }
  65% {
    opacity: 1;
    transform: scale(1.5) translateX(-100px);
  }
  70% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translateX(-100px);
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.blue-hover {
  background-color: #442c2c;
}

* {
  box-sizing: border-box
}

.required:after {
  content: " *";
  color: red;
}

body.admin {

  .left-margin-admin {
    position: sticky;
    background: linear-gradient(black, #2c3044);
    border-top-right-radius: -10px;
    border-right: 1px grey solid;
    padding: 100px 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    a {
      list-style: none;
      border-bottom: #14161f solid 1px;
      padding: 7px 20px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      color: #ffffff !important;
      border-bottom: brown solid 2px;
      text-decoration: none;

      &:hover {
        border-top: brown solid 2px;
        border-top-right-radius: 10px;
        background-color: #2c3044;
      }
    }
  }

  .attachment-section {
    min-height: 100px;
  }

  .menu-product {
    tr {
      &:hover {
        background-color: #dfdfdf;
        cursor: pointer;
      }
    }
  }

  #datatable_wrapper {
    .pagination {
      .paginate_button {
        &.page-item {
          &.next {
            position: fixed;
            top: 50%;
            right: 0.5%;

            .page-link {
              background: #0D6EFD;
              color: white;
              border-radius: 5px;
            }
          }

          &.previous {
            position: fixed;
            top: 50%;
            left: 17%;

            .page-link {
              background: #0D6EFD;
              color: white;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }

  .section-associate,
  .product-productFormat,
  .section-price,
  .section-inge,
  .section-options,
  .section-meta,
  .section-download,
  .section-declination {
    display: none;
  }

  .formDeclination {
    display: none;
  }

  .product-index {

  }

  .product-show {
    .product-picture {
      /* Slideshow container */
      .slideshow-container {
        max-width: 400px;
        max-height: 350px;
        position: relative !important;
        margin: auto;

        /* Hide the images by default */
        .mySlides {
          display: none;
          /* Number text (1/3 etc) */
          .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
          }

          /* Caption text */
          .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
          }
        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          font-weight: bold;
          color: black;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
          /* On hover, add a black background color with a little bit see-through */
          &:hover {
            background-color: rgba(0, 0, 0, 0.6);
          }
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }
      }

      /* The dots/bullets/indicators */
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;

        &.active, &.dot:hover {
          background-color: #717171;
        }
      }

      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
    }
  }
}

body.public {
  margin: 0;
  padding: 0;

  header {

    .slideshow {
      position: relative;
      height: 930px;
      width: 100%;
      overflow: hidden;

      &-pictures {
        position: relative;
        height: inherit;

        img {
          position: absolute;
          left: 0;
          width: 100%;
          height: inherit;
          animation-name: fadeInOut;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-duration: 15s;
          animation-direction: alternate;
        }

        img:nth-of-type(1) {
          animation-delay: 20s;
        }

        img:nth-of-type(2) {
          animation-delay: 10s;
        }

        img:nth-of-type(3) {
          animation-delay: 0s;
        }
      }

      #texts {
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: absolute;
          z-index: 25;
          width: 260px;

          &.text-catalogue {
            bottom: 20%;
            left: 15%;
          }

          &.text-entretient {
            bottom: 20%;
            left: 50%;
          }

          &.text-pleasure {
            bottom: 35%;
            right: 10%;
          }

          h1 {
            text-align: center;
            color: white;
            font-size: 2.7em;
            position: absolute;
            bottom: 120px;
          }

          img {
            position: relative;
          }

          button {
            position: absolute;
            bottom: 0;
            left: 7%;
            color: white;
            background-color: rgba(#FFA333, 0.8);
            border: rgba(#FFA333, 0.8);
            border-radius: 20px 20px;
            font-weight: bold;
            font-size: 1.2em;
            width: 200px;
            height: 80px;
          }
        }
      }

      .slideshow-filter {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        background-color: rgba(8, 13, 21, 0.7);
      }

      .slideshow-content {
        .first-navbar {
          z-index: 20;
          position: absolute;
          top: 0;
          width: 100%;
          background-color: rgba(#000000, 0.6);
          height: 60px;
          border-bottom: #979797 solid 0.2px;

          .logo {
            float: left;
            height: inherit;
            display: flex;
            align-items: center;
            margin-left: 30px;
          }

          .general-search {
            display: flex;
            justify-content: center;
            border-radius: 10px;

            i {
              font-size: 1.4em;
            }

            select {
              background: white;

              &:after {
                position: absolute;
                border-left: 0.7rem solid transparent;
                border-bottom: 0.7rem solid #000000;
                bottom: 0;
                right: 0;
              }
            }
          }

          .nav-together {
            display: flex;
            justify-content: space-around;

            .pipe {
              font-weight: 0.5;
              color: #b1b1b1;
            }

            .login, .signup, .signout {
              text-decoration: none;
              color: white;
            }

            .signout {
              color: red;
              font-size: 1.2em;
            }

            .notification {
              display: flex;
              justify-content: space-evenly;
              color: white;
              width: 150px;
              font-size: 1.4em;
            }
          }
        }

        .second-navbar {
          .search-by-mark {
            width: 100%;
            height: 50px;
            background-color: rgba(black, 0.5);
            position: absolute;
            top: 60px;
            margin: 0 auto;
            display: flex;
            justify-content: center;

            select {
              min-width: 200px;
              height: 25px;
              border: none;
              border-radius: 5px;
              background-color: rgba(#ffffff, 0.9) !important;

              &:after {
                position: absolute;
                border-left: 0.7rem solid transparent;
                border-bottom: 0.7rem solid #000000;
                bottom: 0;
                right: 0;
              }

              &::placeholder {
                color: black;
              }

              &:disabled {
                background-color: rgba(#b1b1b1, 0.5) !important;
                color: white;
              }

              &:optional {
                padding: 0 5px;
              }
            }

            button {
              background-color: transparent;
              color: white;

              &.reinit-btn {
                display: none;
                max-width: 40px;
              }
            }
          }
        }

        .third-navbar {
          .category-parent-list {
            cursor: pointer;
            visibility: hidden;
            position: absolute;
            top: 310px;
            height: 40px;
            justify-content: space-evenly;
            background-color: rgba(white, 0.7);
            z-index: 900;
            width: 100%;

            .category-parent-item {
              border-right: black solid 2px;
              position: absolute;
              top: 310px;
              height: 40px;
              list-style: none;
              display: flex;
              justify-content: space-evenly;
              background-color: rgba(white, 0.7);
              z-index: 1000;
              width: 100%;
            }

            .category-child {
              visibility: hidden;
            }

            .provider-category-item {
              margin: 0 auto;
              border-right: black 1px solid;
              display: inline-block;
              cursor: pointer;
            }
          }

          .provider-navbar {
            z-index: 60;
            background-color: rgba(white, 0.5);
            display: flex;
            justify-content: space-around;
            position: absolute;
            align-items: center;
            height: 200px;
            top: 110px;
            width: 100%;
            margin: 0 auto;

            .provider-item {
              position: relative;
              color: #242424;
              width: 33%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              text-align: center;
              height: 100%;
              cursor: pointer;

              .fa-sort-down {
                border-radius: 0;
                bottom: -8px;
                right: 0;
                position: absolute;
                color: red;
                transform: rotate(315deg);
                font-size: 2.5em;
              }

              img {
                position: absolute;
                justify-content: center;
                align-items: center;
                margin-top: 0;
                width: 9vw;
                height: auto;
              }

              &:hover {
                transition: 1s;
                background-color: rgba(#BD0000FF, 0.9);
                color: white;

                .fa-sort-down {
                  transition: 1s;
                  color: rgba(white, 0.7);
                }

                h2 {
                  display: none
                }

                img {
                  display: block;
                }
              }

              h2 {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }


  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    .card {
      .card-img-top {
        max-width: 400px;
        max-height: 350px;
        z-index: 8;
      }

      .card-body {
        .card-title {
          &.price {
            font-weight: bold;
            font-size: 1.5rem;
          }
        }
      }

      .card-footer {
        display: flex;
        justify-content: space-evenly;
        visibility: hidden;

        .rotate {
          transform: rotate(180deg);
        }

        i {
          font-size: 1.5em;
          color: rgba(black, 0.7);
        }
      }
    }

    card:hover {
      transition-duration: 500ms;
      transform: scale(1.05);
      box-shadow: 10px 10px 40px #afafaf;
    }

    .card:hover .card-footer {
      transition-duration: 500ms;
      visibility: visible;
    }

    .card:hover .card-footer i {
      transition-duration: 500ms;
      transform: rotate(360deg);
    }

    .filter {
      display: block;
      position: sticky;
      top: 50px;
    }
  }

  &.part2 {
    .productType {
      width: 100%;
      min-height: 40px;
      text-align: center;
      color: white;
      margin: 0 auto;

      button {
        background-color: rgba(black, 0.8);
        color: white;
        border-top: none;

        &.actif {
          background-color: rgba(189, 0, 0, 0.7);
          color: white;
        }
      }
    }
  }

  section {
    height: 1000px;

    #login {
      height: 950px;
    }
  }

  footer {
    height: 25vh;
    width: 100%;
    background-color: black;
    color: red;
  }

}

.sub-category-list {
  .products-list {
    display: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
  }
}


.product-list {
  &.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    .card {
      .card-img-top {
        margin: 0 auto;
        max-width: 200px;
        z-index: 8;
      }

      .card-body {
        h4 {
          font-size: 1.1em;
        }

        .card-category-list {
          display: none;
        }

        .card-title {
          &.price {
            font-weight: bold;
            font-size: 1.5rem;
          }
        }
      }

      .card-footer {
        display: none;
        justify-content: space-evenly;
        visibility: hidden;


        .rotate {
          transform: rotate(180deg);
        }

        i {
          font-size: 1.5em;
          color: rgba(black, 0.7);
        }
      }
    }

    card:hover {
      transition-duration: 500ms;
      transform: scale(1.05);
      box-shadow: 10px 10px 40px #afafaf;
    }

    .card:hover .card-footer {
      transition-duration: 500ms;
      visibility: visible;
    }

    .card:hover .card-footer i {
      transition-duration: 500ms;
      transform: rotate(360deg);
    }

    .filter {
      display: block;
      position: sticky;
      top: 50px;
    }
  }
}

.is-loading::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  opacity: .5;
  z-index: 4;
}

.is-loading {
  .spinner-border {
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    z-index: 5;
  }
}
.product-list {
display: none;
}
.subcategory {
  display: none;
}