<form method="post" action="{{ path('admin_category_delete', {'slug': category.slug}) }}" onsubmit="return confirm('Voulez-vous réelement supprimer cet categories ? Si vous supprimé cette categorie plusieurs produit ce retrouverons non affecté ');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-danger text-white"><i class="fa fa-times"></i></button>
</form>
