{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="home-page">
        <section class="part1">
            <h1 class="text-center">Les marques</h1>
            <div class="container Slideshow">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row border-1 border-dark">
                            <img src="" alt="" width="440" height="200">
                            <div class="filter"></div>
                        </div>
                        <div class="row mt-3 border-1 border-dark">
                            <img src="" alt="" width="440" height="400">
                            <div class="filter"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row border-1 border-dark">
                            <img src="" alt="" width="440" height="300">
                            <div class="filter"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 border-1 border-dark">
                                <img src="" alt="" width="307" height="300">
                                <div class="filter"></div>
                            </div>
                            <div class="col-md-6 border-1 border-dark">
                                <img src="" alt="" width="307" height="300">
                                <div class="filter"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row border-1 border-dark mr-3">
                            <img src="" alt="" width="307" height="400">
                            <div class="filter"></div>
                        </div>
                        <div class="row border-1 border-dark mt-3 mt-3">
                            <img src="" alt="" width="307" height="200">
                            <div class="filter"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="part2">
            <h1 class="text-center">Nos produits</h1>
            <div class="productType row">
                {% for productType in productTypes %}
                    <button class="{{ loop.index == 1 ? "actif"}} col buttonType" id="product-{{ productType.id }}">{{ productType.name }}</button>
                {% endfor %}
            </div>
            <div class="container js-filter" id="page">
                <div class="row mt-5">
                    <div class="row">
                        <div class="col-md-2 offset-5">
                            {% include 'public/product/_filter.html.twig' %}
                        </div>
                    </div>
                    <div class="col-md-11 offset-1">
                        <div class="d-flex justify-content-end mb-2 js-filter-sorting">
                            {% include 'public/product/_sorting.html.twig' %}
                        </div>
                        <div class="grid js-filter-content">
                            {% include 'public/product/_products.html.twig' %}
                        </div>
                        <div class="mt-4 js-filter-pagination">
                            {% include 'public/product/_pagination.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="part3">

        </section>
        <section class="part4">

        </section>
        <section class="part5">

        </section>
    </div>
    <script>
        let selectProductType = $(".buttonType")
        selectProductType.on("click", (e) => {
            selectProductType.removeClass("actif")
            e.target.classList.add("actif")
        })
    </script>
{% endblock %}
