{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="home-page">
    <section class="part1">

    </section>
    <section class="part2">

    </section>
    <section class="part3">

    </section>
    <section class="part4">

    </section>
    <section class="part5">

    </section>
</div>
{% endblock %}
