{% extends 'admin/product/base.html.twig' %}

{% block content %}
    <h2 class="my-4">Édition du produit <em>{{ product.name }}</em> </h2>
    {{ include('admin/product/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
{% endblock %}
