{% extends 'admin/product/base.html.twig' %}

{% block content %}
    <div class="container product-new">
        <h1 class="my-4 text-center">Création d'un produit</h1>
        {{ include('admin/product/_form.html.twig') }}
    </div>
{% endblock %}
